<div id="main">
  
  <div class="main-text">
    L’œil est l’objectif le plus complet que je connaisse. Comme je voyage partout dans le monde et que mes yeux me permettent de voir des beautés extraordinaires, une seule envie m’envahit: le partage avec autrui.
Voici l’histoire de mes voyages et observations racontée par des photos prises un peu partout avec mon Nikon D5000 équipé d’un objectif Nikon Nikkor AF-S DX 18-300 mm f/3,5-5,6 ED VR des objets, des humains, des animaux, Nature, etc...
Merci de prendre le temps pour les visualiser et éventuellement mettre vos commentaires.

	<div class="signature">
		<%= image_tag "signature.jpg" %>
	</div>
  </div>

  <div class="main-photo">
  </div>

</div>
