// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main {
	width: 1100px;

	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: -60px;
	margin-left: -100px;


	line-height: 30px;
	font-size: 20px;

	.main-text {
		width: 600px;
		height: 500px;

		padding: 10px;
		padding-left: 115px;
		padding-right: 500px;

		font-family: Tahoma;
		font-size: 21px;
		line-height: 40px;
		color: rgba(0, 0, 0, 0.7);

		display: inline-block;
		vertical-align: top;

		background-image: url(image-path("hedy.png"));
		background-repeat: no-repeat;
		background-position: 700px 10px;

		.signature {
			margin-left: 400px;
		}		
	}

	.main-photo {
		width: 450px;

		margin-left: 20px;

		display: inline-block;
	}
}