

    <div id="footer-wrapper">

         <div id="footer-bottom">
        	<footer>
            	<!--social networks-->
                <ul class="connect">
                    <li><a href="https://www.facebook.com/Hedy.Aounallah.Thion"><span class="facebook"></span>Facebook</a></li>
                    <li><a href="https://twitter.com/HedyThion"><span class="twitter"></span>Twitter</a></li>
                </ul>
                <p class="footer-copyright">&copy; copyright 2013. ORICOM. All Rights Reserved.</p>
            </footer>
        </div>
    </div>
